#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.app {
  text-align: center;
}

h1 {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.next-player {
  font-weight: bold;
  font-size: 1.5rem;
  color: #0077cc;
}

.board {
  display: inline-block;
}
.board-row {
  display: flex;
}

.square {
  width: 100px;
  height: 100px;
  color: #213547;
  background-color: #fff;
  border: 1px solid #999;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  transition: border-color 0.25s;
}
.square:hover {
  border-color: #0077cc;
}
.square:focus,
.square:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.game-info {
  margin-top: 1rem;
}
.game-info div {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.game-info button {
  margin-top: 1rem;
  padding: 0.6rem 1.3rem;

  border-radius: 8px;
  border: 1px solid transparent;
  background-color: #c9c9c9;

  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
}
.game-info button:hover {
  border-color: #0077cc;
  background-color: #acacac;
}
